/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.user_block{
  min-height: 365px;
}
.pagination_block {
  margin: 35px 0;
  text-align: center;
}
footer {
  padding: 15px 0;
  margin-top: 20px;
  background-color: #e7e7e7;
  .copyright {
    font-weight: bold;
    font-size: 14px;
    color: #777;
    margin: 0;
    text-align: center
  }
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
