<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Users <span class="sr-only">(current)</span></a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <label for="limit">Limit per Page:</label>
          <input type="number" class="form-control" ng-model="limit" id="limit" placeholder="Limit per Page">
        </div>
        <button type="submit" class="btn btn-default" ng-click="goToPage(page, limit)">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://www.facebook.com/nastas.andrei7" target="_blank">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> AndrewDev
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-success user_block">
        <div class="panel-heading"><h3 class="panel-title">Crete New User</h3></div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="fullname">Full Name:</label>
              <input type="text" class="form-control" id="fullname" ng-model="user.fullname" placeholder="Full Name">
            </div>
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" ng-model="user.username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email" ng-model="user.email" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-success btn-block" ng-click="createUser(user)">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4" ng-repeat="user in users">
      <div ng-if="!edit[user._id]" class="panel panel-primary user_block">
        <div class="panel-heading"><h3 class="panel-title">User Info</h3></div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="fullname_{{user._id}}">Full Name:</label>
              <input type="text" class="form-control" id="fullname_{{user._id}}" ng-model="user.fullname" placeholder="Full Name" readonly>
            </div>
            <div class="form-group">
              <label for="username_{{user._id}}">Username:</label>
              <input type="text" class="form-control" id="username_{{user._id}}" ng-model="user.username" placeholder="Username" readonly>
            </div>
            <div class="form-group">
              <label for="email_{{user._id}}">Email address:</label>
              <input type="email" class="form-control" id="email_{{user._id}}" ng-model="user.email" placeholder="Email" readonly>
            </div>
            <button class="btn btn-warning btn-block" ng-click="editUser(user._id)">Edit</button>
            <button class="btn btn-danger btn-block" ng-click="deleteUser(user._id)">Delete</button>
          </form>
        </div>
      </div>
      <div ng-if="edit[user._id]" class="panel panel-warning user_block">
        <div class="panel-heading"><h3 class="panel-title">Edit User: {{user.fullname}}</h3></div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="fullname_edit_{{user._id}}">Full Name:</label>
              <input type="text" class="form-control" id="fullname_edit_{{user._id}}" ng-model="user.fullname" placeholder="Full Name">
            </div>
            <div class="form-group">
              <label for="username_edit_{{user._id}}">Username:</label>
              <input type="text" class="form-control" id="username_edit_{{user._id}}" ng-model="user.username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="email_edit_{{user._id}}">Email address:</label>
              <input type="email" class="form-control" id="email_edit_{{user._id}}" ng-model="user.email" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary btn-block" ng-click="updateUser(user)">Save</button>
            <button type="submit" class="btn btn-default btn-block" ng-click="cancelEditUser(user._id)">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row pagination_block" ng-if="pages.length > 1">
      <div class="btn-group" role="group">
        <button type="button" ng-repeat="page in pages" class="btn btn-default" ng-click="goToPage(page, limit)" ng-class="{'active': page == currentPage}">
          {{page}}
        </button>
      </div>
  </div>
</div>
<footer>
  <div class="container">
    <p class="copyright">
      © 2017 AndrewDev. All Rights Reserved.
    </p>
  </div>
</footer>
